article > p {
  text-decoration: none;
}

article > p, h2 {
  text-align: center;
}

p {
  color: #000;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 15px;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  width: 200px;
  height: auto

}

.post:hover { 
  box-shadow: 10px 5px 5px black;
  cursor: pointer;
}

.date {
  font-size: 15px;
  font-style: italic;
}
