@import url("../variables/colors.css");
@import url("../variables/cursors.css");
@import url("../variables/typography.css");

.container {
  display: flex;
  gap: 35%;
  justify-content: center;
}

.btn {
  padding: 15px 25px;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
  font-size: var(--font-size-base);
  cursor: var(--pointer);
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--accent-color);
  color: var(--dark-color);
}

.btn a {
  text-decoration: none;
  color: inherit;
}