main > article {
  margin: 2%
}

h1, h2:not([class="post-title"]), h3 {
  text-indent: 10px;
  color: var(--accent-color)
}

h2.post-title {
  color: var(--accent-color);
}

a:visited:not([class~="active"]) {
  color: var(--secondary-color);
}

a:not([class~="active"]) {
  color: var(--accent--color);
}

em {
  border-left: solid 3px #aaa;
  padding: 2.5px;
}

p {
  color: var(--light-color);
}

table {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}


table, tr, td, th {
  border-collapse: collapse;
  border: 1px solid var(--secondary-color);
}

th, td {
  text-align: center;
}

td {
  height: 2.5em;
  text-indent: 5px;
}

th {
  color: var(--accent-color);
  height: 3.5em;
}

#posts {
  margin-left: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-template-rows: repeat(1, minmax(8em, 1fr));
  grid-auto-rows: 0;
  overflow: hidden;
  grid-gap: 0 15px;
}

.post {
  text-align: center;
  background-color: var(--darker-color);
  border: 1px solid var(--accent-color);
}

.post:hover { 
  box-shadow: 10px 5px 5px black;
}

img {
  width: 30%;
  height: 20%;
}

button:hover
{
  cursor: var(--pointer);
}

button {
  background-color: var(--secondary-color);
  border:none; 
  border-radius:10px; 
  min-height:30px; 
  min-width: 120px;
}
