:root {
    --size: 200px;
    --body-top: 2%;
    --container-size: 400px;
		--progress: 6em;
}

progress[value] {
  background-color: #333;
}

.carousel-items {
  display: flex;
  overflow-x: scroll;
  padding: 1rem 0;
  scroll-snap-type: x mandatory;
}

.carousel-item {
  list-style-type: none;
  flex: 1 0 40px;
  margin-left: 1rem;
  scroll-snap-align: center;
}

.card {
  width: var(--container-size);
  height: auto;
  text-align: center;
  color: #fff;
  background-color: #333;
  border: 1px solid #000;
}

table {
  width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #fff;
}

.card div, .resume > table {
  margin: auto;
}

.card:hover {
  border-color: #fff;
}

.me > .card-header {
    position: static;
    width: var(--size);
    height: var(--size);

    background-image: url("../../ressource/images/miku.png"),
        linear-gradient(180deg, #fe0000 16.66%,
            #fd8c00 16.66%, 33.32%,
            #ffe500 33.32%, 49.98%,
            #119f0b 49.98%, 66.64%,
            #0644b3 66.64%, 83.3%,
            #c22edc 83.3%);

    background-repeat: no-repeat;
    background-size: var(--size) var(--size);
    border: 1px solid #000;
    border-radius: 50%
}

.story {
	text-align: justify;
	margin-left: 2%;
	margin-right: 2%;
}

span, span progress {
	display: inline-block;
	padding: 7px;
	vertical-align: middle;
	width: var(--progress);
}

span >  progress {
	margin-left: 2%
}

